* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgba(19, 19, 19, 1);
  padding-left: 120px;
  padding-right: 122.69px;
  font-family: "Inter", "Nova Slim", "Philosopher";
  font-size: 1.6rem;
  color: rgba(194, 194, 194, 1);
  padding-top: 40px;
}
.header-section {
  width: 100%;
  height: auto;
  display: flex;
}
.logo-section {
  margin-right: 100px;
}
.logo-img {
  height: 49px;
  width: 104px;
  object-fit: contain;
}
.nav-bar-list {
  display: flex;
  list-style: none;
  gap: 50px;
}
.nav-bar {
  margin-right: 100px;
  width: 100%;
  margin-top: 15px;
}
.nav-bar-list li {
  height: 19px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}
.nav-bar-list li a {
  text-decoration: none;
  color: rgba(194, 194, 194, 1);
}
.search-icon {
  margin-right: -62px;
  margin-top: 13.44px;
}
.search-button-section {
  display: flex;
}
.header-button {
  height: 39px;
  border-radius: 9px;
  width: 91px;

  /* background: linear-gradient(180deg, #e88ebe 0%, #7a90bf 100%); */
  border: 1px solid #e88ebe;
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  margin-left: 184px;
  background: rgba(19, 19, 19, 1);
  margin-top: 5px;
}
/* hero-section */
.hero-section {
  width: 100%;
  height: auto;
}
.music-enjoyment-heading {
  height: 227px;
  width: 791px;
  font-family: Nova Slim;
  font-size: 96px;
  font-weight: 400;
  line-height: 116px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Philosopher;
  font-size: 96px;
  font-style: italic;
  font-weight: 700;
  line-height: 108px;
  letter-spacing: 0em;
  margin-top: 149px;
}
.music-enjoyment-heading-span {
  background: linear-gradient(
      263.04deg,
      #8491c1 44.56%,
      #ec8ebd 96.28%,
      rgba(236, 142, 189, 0) 103.5%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
