* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgba(19, 19, 19, 1);
  padding-left: 120px;
    font-family: "Inter", "Nova Slim", "Philosopher";
  font-size: 1.6rem;
  color: rgba(194, 194, 194, 1);
  padding-top: 40px;
}
.header-section {
  width: 100%;
  height: auto;
  display: flex;
  padding-right: 122.69px;
}
.logo-section {
  margin-right: 100px;
}
.logo-img {
  height: 49px;
  width: 104px;
  object-fit: contain;
}
.nav-bar-list {
  display: flex;
  list-style: none;
  gap: 50px;
}
.nav-bar {
  margin-right: 100px;
  width: 100%;
  margin-top: 15px;
}
.nav-bar-list li {
  height: 19px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}
.nav-bar-list li a {
  text-decoration: none;
  color: rgba(194, 194, 194, 1);
}
.search-icon {
  margin-right: -62px;
  margin-top: 13.44px;
}
.search-button-section {
  display: flex;
}
.header-button,
.music-enjoyment-button {
  height: 39px;
  border-radius: 9px;
  width: 91px;

  /* background: linear-gradient(180deg, #e88ebe 0%, #7a90bf 100%); */
  border: 1px solid #e88ebe;
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  margin-left: 184px;
  background: rgba(19, 19, 19, 1);
  margin-top: 5px;
}
/* hero-section */
.hero-section {
  width: 100%;
  height: auto;
  display: flex;
}
.music-enjoyment-heading {
  height: 227px;
  width: 791px;
  font-family: Nova Slim;
  font-size: 96px;
  font-weight: 400;
  line-height: 116px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Philosopher;
  font-size: 96px;
  font-style: italic;
  font-weight: 700;
  line-height: 108px;
  letter-spacing: 0em;
  margin-top: 149px;
}
.music-enjoyment-heading-span {
  background: linear-gradient(
      263.04deg,
      #8491c1 44.56%,
      #ec8ebd 96.28%,
      rgba(236, 142, 189, 0) 103.5%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 42px;
}
.music-enjoyment-text {
  height: 90px;
  width: 575px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: rgba(222, 222, 222, 1);
  margin-bottom: 20px;
}
.music-enjoyment-button-wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 59px;
}
.music-enjoyment-button, .change-the-world-wrapper1-button, .premiere-song-section-button  {
  border: none;
  height: 51px;
  width: 153px;
  border-radius: 9px;
  background: linear-gradient(181.53deg, #de8ebd 1.3%, #72c9eb 108.25%);
  margin-left: 0px;
}
.music-enjoyment-svg-subtext-wrapper {
  display: flex;
  margin-top: 16.5px;
  gap: 10px;
}
.music-enjoyment-subtext {
  height: 19px;
  width: 111px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}
.music-enjoyment-extraimg {
  height: 23.098270416259766px;
  width: 359.0567932128906px;
  object-fit: contain;
}
.hero-enjoyment-imgs2 {
  height: 493.73070110695744px;
  width: 410.45111083984375px;
  object-fit: contain;
  position: absolute;
  left: 774px;
  top: 178px;
  z-index: -1;
}
.hero-enjoyment-imgs1 {
  height: 194px;
  width: 294px;
  object-fit: contain;
  position: absolute;
  top: 543px;
  left: 687px;
}
/* main */
main {
  width: 100%;
  height: 1000px;
}

.discover-magic-heading {
  margin-top: 160px;
  height: 54px;
  width: 598px;
  font-family: Philosopher;
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  color: white;
  margin-top: 160px;
  margin-left: 239px;
}
.discover-magic-text {
  height: 60px;
  width: 762px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(222, 222, 222, 1);
  margin-top: 20px;
  margin-left: 146px;
  margin-bottom: 48px;
}
 .discover-magic-music-wrapper {
  display: flex;
  height: 700px;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
} 

.discover-magic-music-1 {
  height: 682.30615234375px;
  width: 536px;
}
.discover-magic-music-1 {
  height: 535px;
  width: 458px;
  object-fit: contain;
}
.discover-magic-music-1-svg-wrapper,
.discover-magic-music-1-svg-wrapper2 {
  position: absolute;
  height: 83px;
  width: 151px;
  background-color: #8d91c0;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 427px;
  top: 1522px;
}
.discover-magic-music-1-text1 {
  height: 30px;
  width: 235px;
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-top: -15px;
  margin-bottom: 20px;
}
.discover-magic-music-1-tickets-wrapper {
  display: flex;
}
.discover-magic-music-1-tickets-text {
  height: 19px;
  width: 167px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-left: 7px;
  margin-top: 7px;
}
.discover-magic-music-1-svgthumb-container {
  display: flex;
  margin-top: 20px;
  gap: 27.69px;
}
/* main-section-2 */
.change-the-world-section {
  margin-top: 81.69px;
  width: 100%;
  padding-right: 120px;
  height: auto;
  display: flex;
}
.change-the-world-wrapper1 {
  width: 100%;
  height: auto;
}
.change-the-world-wrapper1-heading {
  height: 186px;
width: 600px;
font-family: Philosopher;
font-size: 48px;
font-weight: 700;
line-height: 62px;
letter-spacing: 0em;
color: #FFFFFF;
margin-bottom: 20px;
}
.change-the-world-wrapper1-text {
  height: 78px;
width: 468px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
color: 
rgba(222, 222, 222, 1);
margin-bottom: 30px;
}
.change-the-world-wrapper1-button {
  height: 51px;
width: 137px;
border-radius: 9px;
margin-bottom: 80px;
color: 
rgba(0, 0, 0, 1);
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
margin-bottom:80px ;
}
.change-the-world-wrapper1-1 {
  height: 100px;
width: 385px;
display: flex;
gap: 75px;
}
.change-the-world-wrapper1-1i-text1 {
  height: 44px;
width: 85px;
font-family: Inter;
font-size: 36px;
font-weight: 600;
line-height: 44px;
letter-spacing: 0em;
margin-bottom: 10px;
color: #ffffff;
}
.change-the-world-wrapper1-1i-text2 {
  height: 46px;
width: 155px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
color: #DEDEDE;
}
/* change-the-world-wrapper2 */

.change-the-world-wrapper2  {
  display: flex;
  gap: 10px;
}
.change-the-world-wrapper2ii {
  width: auto;
  height: auto;

}
.change-the-world-wrapper2i-1 {
  width: auto;
  height: auto;
  margin-top: 150px;
  margin-left: -118px;
}
.change-the-world-wrapper2i-1-img1, .change-the-world-wrapper2i-2-img1{
  height: 279px;
width: 240px;
object-fit: contain;

}
.change-the-world-wrapper2i-1-img2, .change-the-world-wrapper2ii-2-img2, .change-the-world-wrapper2ii-1-img2, .change-the-world-wrapper2i-2-img2  {
  position: absolute;
  height: 43px;
width: 57px;
left: 701px;
top: 2175px;
}
.change-the-world-wrapper2i-2-img2  {
  position: absolute;
  top: 2442px;
  left: 695px;
}
.change-the-world-wrapper2ii-2-img1, .change-the-world-wrapper2ii-1-img1 {
  height: 319px;
width: 289px;
object-fit: contain;
}
.change-the-world-wrapper2ii-2-img2 {
  position: absolute;
  left:971px;
  top: 2037px;
}
.change-the-world-wrapper2ii-1-img2 {
  position: absolute;
  left:971px;
  top: 2354px;
}
/* premiere-song-section */
.premiere-song-section {
  height: 717px;
width: 100%;
padding-right: 120px;
display: flex;
justify-content: space-between;
}
.premiere-song-section-img {
  height: 600px;
width: 539px;
object-fit: contain;
margin-top: 160px;
}
.premiere-song-section-heading {
  height: 124px;
width: 426px;
font-family: Philosopher;
font-size: 48px;
font-weight: 700;
line-height: 62px;
letter-spacing: 0em;
text-align: left;
color: 
rgba(255, 255, 255, 1);
margin-top: 250px;
margin-bottom: 20px;
}
.premiere-song-section-text {
  height: 52px;
width: 431px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
color: rgba(222, 222, 222, 1);
margin-bottom: 30px;
}
.premiere-song-section-button  {
  height: 51px;
width: 165px;
border-radius: 9px;
color: rgba(0, 0, 0, 1);
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
}
/* lastest new section */
.lastest-new-section {
  width: 100%;
  padding-right: 120px;
  margin-top: 160px;
  height: auto;
}
.lastest-new-section-heading {
  height: 62px;
width: 335px;
font-family: Philosopher;
font-size: 48px;
font-weight: 700;
line-height: 62px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 1);
margin-bottom: 48px;
}

.lastest-new-section-card-wrapper {
  width: 100%;
  display: flex;
  gap: 20px;
}
.lastest-new-section-card-1, .lastest-new-section-card-2, .lastest-new-section-card-3 {
  height: 517px;
width: 327px;
left: 120px;
top: 3985px;
border-radius: 0px;
}
.lastest-new-section-card-1 {
  background-image: url(/img/Rectangle\ 3185.png);
}
.lastest-new-section-card-2  {
  background-image: url(/img/Rectangle\ 3186.png);
}
.lastest-new-section-card-3 {
  background-image: url(/img/Rectangle\ 3187.png);
}
.lastest-new-section-card-1-text-1 {
  height: 29px;
width: 149px;
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
margin-top: 20px;
margin-left: 20px;
margin-bottom: 50px;
}
.lastest-new-section-card-1-text-2 {
  height: 126px;
width: 330px;
font-family: Inter;
font-size: 30px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 1);
margin-left: 20px;
margin-bottom: 68px;
}
.lastest-new-section-card-1-text-3 {
  height: 104px;
width: 310px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 1);
margin-left: 20px;
margin-bottom: 80px;
}
.lastest-new-section-card-1-text-4 {
  height: 29px;
width: 123px;
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
color: #ffffff;
margin-left: 20px;
}

/* lastest-new-section-card-2 */
.lastest-new-section-card-2-text-1 {
  height: 29px;
width: 148px;
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
color: 
rgba(255, 255, 255, 1);
margin-top: 238px;
margin-left: 20px;
margin-bottom: 16px;
}
.lastest-new-section-card-2-text-2 {
  height: 126px;
width: 311px;
font-family: Inter;
font-size: 30px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0em;
color: #FFFFFF;
margin-left: 20px;
margin-bottom: 68px;
}
.lastest-new-section-card-2-text-3 {
  height: 29px;
width: 123px;
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
color: #FFFFFF;
margin-left: 20px;
}
/* About-us-section */
.About-us-section {
  width: 100%;
  padding-right: 120px;
  height: auto;
  margin-top: 160px;
}
.About-us-heading {
  height: 62px;
width: 557px;
font-family: Philosopher;
font-size: 48px;
font-weight: 700;
line-height: 62px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
margin-bottom: 48px;
margin-left: 200px;
}
.About-us-details {
  width: 90%;
  height: auto;
  display: flex;
}
.About-us-details-1-1 {
  height: 238px;
width: 382.3116760253906px;
left: 0px;
top: 56px;
border-radius: 10px;
background:  #2A2A2A;;

}
.About-us-details-1-img {
  margin-left: 141px;
  margin-bottom: -46px;
  border-radius: 50px;
  border: 7px solid rgba(19, 19, 19, 1);

}